@import '../base/settings';
@import '../base/base';

.Footer {
  background-color: $primary;
  color: $white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5em;
}

.Footer__container {
  width: 50%;
  border: 1px solid red;
}

.Footer__socials {
  color: $white;
  padding: 50px;
}

.Footer__socials a {
  color: $white;
  text-decoration: none;
  transition: all 0.15s;

  &:hover {
    box-shadow: 0 10px 12px rgba(245, 237, 237, 0.1);
  }
}

@media (max-width: 800px) {
  .Footer {
    font-size: 1.1em;
  }
}